
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html,
h1,
h2,
h3,
p {
  font-family: "lato", sans-serif;
}

.navbar {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(211, 211, 211, 0.5);

}

.navbar>a {
  margin: 0px 20px;
  text-decoration: none;
  color: #333;
}


.bgimg_1 {
  background-image: url("../src/5f40bb50-3362-430e-aeb0-b6cd76c334b3.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.imglogo {

  color: white;

}

.txtcenter {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 400px;
  height: 50px;
  color: white;
  text-align: center;
  padding-top: 15px;
  letter-spacing: 08px;
  background-color: rgb(109, 108, 108);
  position: absolute;
}

.center_container {
  width: 40%;
  height: auto;
  margin: 0 auto;
}


.skill {
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.skill-name {
  margin-bottom: 5px;
}



/* .progress {
  height: 100%;
  text-align: center;
  line-height: 20px;
  color: white;
  font-weight: bold;
}

.progress-bar {
  width: 60%;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
}
.photography { background-color: #3498db; } Blue */



.aboutme {
  margin: 50px 10px;
  opacity: 60%;

}

.para_1 {
  text-align: justify;
}

.headingaboutme {
  text-align: center;
  line-height: 4rem;
}

.para_1 {
  font-family: sans-serif;
  line-height: 1.8rem;
  padding-bottom: 50px;
}

.img2_myname {
  font-family: sans-serif;
  font-size: 1rem;
  padding-left: 15%;
  padding-top: 50px;

}


.my_Name {
  display: flex;
  gap: 20px;

}

.my_Name>img {
  width: 400px;
  height: 300px;
  margin-top: 50px;

}

.reallygd {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 50px;
}

.reallygood {
  font-family: sans-serif;
}

.skills>p {
  letter-spacing: 10px;
}

.skills>.file {
  width: 100%;
  height: 20px;
  background-color: gray;


}

.aboutbottom {
  width: 100%;
  height: 600px;
}

.about_child {
  width: 100%;
  height: 120px;
  background-color: rgb(121, 94, 94);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 2rem;
  margin-top: 50px;
}

.bottom_1,
.bottom_2,
.bottom_3,
.bottom_4 {
  color: white;
  text-align: center;
}

.partnar,
.project,
.happyclint,
.meeting {
  font-size: 1.6rem;
}

.bgimg_2 {
  background-image: url("../src/imag2\(1\).jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 400px;
  /* min-height: 100vh; */
  position: relative;
}



.portfolio {
  position: absolute;
  /* top: 40%; */
  left: 35%;
  bottom: 40%;
  font-size: 2rem;
  margin-top: 300px;
  font-family: sans-serif;
  color: white;
}

.mywork {
  width: 100%;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.myworktext {
  text-align: center;
  color: rgb(90, 90, 90);
  font-family: sans-serif;
}

.myworktext>h3 {
  padding-bottom: 20px;
}

.myworktext>p {
  line-height: 1.5rem;
}

.table_container {
  width: 60%;
  margin: 0 auto;
}

.tableimg {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 200px; */
  gap: 10px;
  width: 100%;
  margin: 100px 0px;
  padding: 0 10px;
}

.imgcolumns>img {
  width: 100%;
  height: 200px;
  border: 2px solid;

}

.loadmore {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load_more_button {
  width: 120px;
  height: 40px;
  outline: none;
  border: none;
  cursor: pointer;

}

.bgimg_3 {
  background: url("../src/image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
  position: relative;
}

.contact {
  position: absolute;
  left: 30%;
  top: 50%;
  font-family: sans-serif;
  font-size: 2rem;
  letter-spacing: 5px;
  color: white;

}

.work {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
}

.workcontainer {
  line-height: 2rem;
  text-align: center;
  padding-top: 50px;
}

.textcenter {
  font-family: sans-serif;
  font-size: 1.5rem;

}

.textcenter_2 {
  font-family: sans-serif;
}



/* .imgwithtext {
 display: flex;
 width: 50%;
 height: 500px;
 margin: 0 auto;
  padding: 20px;
} */

.imgwithtext {
  display: flex;
  width: 50%;
  height: 500px;
  margin: 0 auto;
  padding: 20px;

}

.input_img_text>img {
  /* height: 100px; */
  width: 300px;
  height: auto;
  padding: 10px;

}

.input_assid {
  font-family: sans-serif;
  width: 100%;
  padding-left: 20px;
  line-height: 2rem;
}

form>input {
  width: 45%;
  height: 40px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;

}

.message_buttons {
  width: 130px;
  height: 40px;
  background-color: green;
  color: white;
  margin-right: 30px;
  outline: none;
  float: right;
  cursor: pointer;

}

.message_buttons:hover {
  background-color: black;
  color: white;
  cursor: pointer;

}

/* footer sec */

.footer_sec {
  width: 100%;
  height: 300px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
}

.footer_sec:hover {
  background-color: lightgray;
  color: black;
}

.ft_buttons {
  width: 120px;
  height: 40px;
}

.ft_buttons>a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}


.ft_buttons>a:hover {
  color: white;
}


.ft_buttons:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.social_icon>p>i {
  font-size: 1.6rem;
  cursor: pointer;
}